#!/bin/sh

redshift &
unclutter -b
compton -b
xscreensaver -nosplash &

setxkbmap -layout us -variant altgr-intl -option ctrl:nocaps

# Disable bell
xset -b

# Configure Thinkpad T480 trackpad
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1

# Set background
if [ -f .fehbg ];
then
  sh .fehbg
else
  hsetroot -solid '#000000'
fi
