#!/bin/sh

setxkbmap -layout us -variant altgr-intl -option ctrl:nocaps

# hsetroot -add "#555555" -addd "#261a18" 40 -addd "#261a18" 15 -gradient 0
hsetroot -fill .wallpaper

redshift &

# cbatticon &

compton -f &

alttab &

keybase ctl start

conky &

# Configure Thinkpad T480 trackpad
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1

