!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
Xft.autohint:   1
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

!-------------------------------------------------------------------------------
! URxvt settings
!-------------------------------------------------------------------------------
URxvt.modifier: mod1
URxvt*loginShell: true
URxvt*depth: 32
URxvt.borderless: true
URxvt*dynamicColors: on
URxvt.geometry: 90x20
URxvt.internalBorder: 30
URxvt.lineSpace: 1
URxvt.saveLines: 20000
URxvt*termName: xterm-256color
URxvt.transparent: false
URxvt.visualBell: false

! disable ctrl+shift binding
URxvt.iso14755:             false
URxvt.iso14755_52:          false

! Perl extension
URxvt.perl-ext:
URxvt.perl-ext-common: default,matcher,font-size,tabbedex
urxvt.matcher.button: C1

! Tabbedex features
URxvt.tabbed.new-button:       no
URxvt.tabbed.autohide:         yes
URxvt.tabbed.no-tabbedex-keys: yes

! Tabbedex colors
URxvt.tabbed.tabbar-fg:   244
URxvt.tabbed.tabbar-bg:   16
URxvt.tabbed.tab-fg:      255
URxvt.tabbed.tab-bg:      53
URxvt.tabbed.bell-tab-fg: 255
URxvt.tabbed.bell-tab-bg: 160
URxvt.tabbed.bell-fg:     244
URxvt.tabbed.bell-bg:     17
URxvt.tabbed.title-fg:    28
URxvt.tabbed.title-bg:    16

! Tabbedex keybindings (4-1: Super + Alt)
URxvt.keysym.M-C-t:     perl:tabbedex:new_tab
URxvt.keysym.M-C-p:     perl:tabbedex:prev_tab
URxvt.keysym.M-C-n:     perl:tabbedex:next_tab
URxvt.keysym.M-C-r:     perl:tabbedex:rename_tab

!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease


!! Fonts
URxvt.font: xft:Fantasque Sans Mono:size=16
URxvt*boldFont: xft:Fantasque Sans Mono:size=16
URxvt.allow_bold:           true
URxvt*boldMode:             true
! Fix font space
! URxvt*letterSpace:          -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Cursor
URxvt.cursorBlink:          false
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         false

! Dracula Xresources palette
! https://github.com/dracula/xresources
urxvt*foreground: #F8F8F2
urxvt*background: rgba:0040/0042/0054/f0ff
urxvt*color0:     #000000
urxvt*color8:     #4D4D4D
urxvt*color1:     #FF5555
urxvt*color9:     #FF6E67
urxvt*color2:     #50FA7B
urxvt*color10:    #5AF78E
urxvt*color3:     #F1FA8C
urxvt*color11:    #F4F99D
urxvt*color4:     #BD93F9
urxvt*color12:    #CAA9FA
urxvt*color5:     #FF79C6
urxvt*color13:    #FF92D0
urxvt*color6:     #8BE9FD
urxvt*color14:    #9AEDFE
urxvt*color7:     #BFBFBF
urxvt*color15:    #E6E6E6
