
/* -*- mode: css; -*- */

configuration {
  font: "Fantasque Sans Mono 18";
  show-icons: true;
  terminal: "urxvt";
  window-command: "xkill -id {window}";
  sidebar-mode: false;
  matching: "fuzzy";
  hide-scrollbar: true;
  fake-transparency: false;
  fake-background: "screenshot";
  lines: 5;
  columns: 1;
  bw: 0;
  padding: 400;
  eh: 1;
  location: 1;
  xoffset: 50;
  yoffset: 50;
}
@import "./custom-theme.rasi"
